@model ApplicationCore.Models.Request.UserRequestModel;

<div class="container-fluid">
    <h3>
        Edit Profile
    </h3>

    <form asp-action="EditProfile">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-auto">
                <input asp-for="Email" type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-auto">
                <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="new password">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 control-label">FirstName</label>
            <div class="col-auto">
                <input asp-for="FirstName" type="text" class="form-control" id="inputFirstName" value="@Model.FirstName">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">LastName</label>
            <div class="col-auto">
                <input asp-for="LastName" type="text" class="form-control" id="inputLastName" value="@Model.LastName">
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>