@model  ApplicationCore.Models.Request.UserRequestModel;

<h3>
    User Profile
</h3>
<div class="container-fluid">

    <div class="row">
        Your Email:
        @Model.Email
    </div>
    <div class="row">
        Your FirstName:
        @Model.FirstName
    </div>
    <div class="row">
        Your LastName:
        @Model.LastName
    </div>
</div>