@model ApplicationCore.Models.Request.MovieCreateRequestModel

@{
    ViewData["Title"] = "CreateMovie";
}

<h1>CreateMovie</h1>

<h4>MovieCreateRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="budget" class="control-label"></label>
                <input asp-for="budget" class="form-control" />
                <span asp-validation-for="budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="revenue" class="control-label"></label>
                <input asp-for="revenue" class="form-control" />
                <span asp-validation-for="revenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
