<!-- <p>movie-details works!</p> -->

<div>
  <div class="row">
    <img
      src="{{ movie?.backdropUrl }}"
      alt="{{ movie?.title }}"
      width="1550"
      height="500"
      class="bg"
    />
  </div>

  <div class="row">
    <div class="col">
      <img src="{{ movie?.posterUrl }}" />
    </div>

    <div class="col">
      <div class="row">
        <h1>{{ movie?.title }}</h1>
      </div>
      <div class="row">
        <h5>{{ movie?.tagline }}</h5>
      </div>

      <div>
        <div class="row">
          <div class="col">
            {{ movie?.runTime }} m |
            {{ movie?.releaseDate?.toString()?.substring(0, 4) }}
          </div>

          <div class="col" *ngFor="let genre of movie?.genres">
            <a [routerLink]="['/genres/', genre.id]">{{ genre.name }}</a>
          </div>
        </div>
        <div class="row">
          <h3>{{ movie?.rating }}</h3>
        </div>
        <div class="row">{{ movie?.overview }}</div>
      </div>
    </div>

    <div class="col">
      <ul style="list-style-type: none">
        <li>
          <a type="button" class="btn">REVIEW</a>
        </li>
        <li>
          <a type="button" class="btn">Trailer</a>
        </li>
        <li>
          <a class="btn"> BUY {{ movie?.price }} </a>
        </li>
        <li>
          <a class="btn"> WATCH MOVIE </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Movie Facts</h3>
      <hr />
      <ul style="list-style-type: none">
        <li class="far fa-calendar-alt">
          Release Date: {{ movie?.releaseDate?.toString()?.substring(5, 7) }}/{{
            movie?.releaseDate?.toString()?.substring(8, 10)
          }}/{{ movie?.releaseDate?.toString()?.substring(0, 4) }}
        </li>
        <hr />
        <li>Run Time {{ movie?.runTime }} mins</li>
        <hr />
        <li>Box Office ${{ movie?.revenue }}</li>
        <hr />
        <li>Budget ${{ movie?.budget }}</li>
      </ul>
    </div>

    <div class="col">
      <h3>Casts</h3>
      <hr />
      <div class="row" *ngFor="let cast of movie?.casts">
        <hr />
        <div class="col">
          <img
            src="{{ cast.profilePath }}"
            alt="{{ cast.name }}}  "
            width="120"
            height="140"
            style="border-radius: 50%"
          />
        </div>
        <hr />
        <a [routerLink]="['/cast/', cast.id]" class="col">{{ cast.name }}</a>
        <div class="col">{{ cast.character }}</div>
      </div>
    </div>
  </div>
</div>
